.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #9BABB8;
}

.button {
  padding: 8px 12px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.description {
  margin-top: 4rem;

  & > h2 {
    color: #116A7B;
  }

  & > h3 {
    color: #213555;
  }

  p {
    color: #000000;
  }
}

.notice {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}